{% extends 'base.html' %}

{% block header %}
    <h1>{% block title%}To-dos{% endblock %}</h1>
    {% if g.user %}
        <a class="btn-new" href="{{ url_for('todo.create') }}">New To-Do</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="todo-list">
        {% for todo in ToDos %}
            <div class="todo-item">
                <div class="todo-content">
                    <input type="checkbox" id="todo-{{ todo['id'] }}" 
                           {% if todo['completed'] == 1 %}checked{% endif %} 
                           onclick="window.location.href='{{ url_for('todo.toggle', id=todo['id']) }}'">
                    <p class="todo-text">{{ todo['description'] }}</p>
                </div>
                <div class="actions">
                    <div class="about">{{ todo['created_at'].strftime('%Y-%m-%d') }}</div>
                    <a class="btn btn-edit" href="{{ url_for('todo.update', id=todo['id']) }}">Editar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}